version: 1

handlers:
    file:
        class : logging.handlers.RotatingFileHandler
        formatter: format_1
        filename: /var/log/sonic_exporter.log
        maxBytes: 10485760 #10MB
        backupCount: 5
        level: INFO
    console:
        class: logging.StreamHandler
        level: INFO
        formatter: format_1
        #args: (sys.stdout,)

formatters:
    format_1: 
        format: "[%(asctime)s][%(levelname)s][%(name)s] %(message)s"

root:
    level: NOTSET
    handlers: [console,file]
    propogate: yes