[Unit]
Description=Script to Post top 10 CPU and RAM into JSON file

[Service]
WorkingDirectory=/usr/local/include/
ExecStart=/usr/bin/python3 /usr/local/include/top_processes.py
Restart=always

[Install]
WantedBy=multi-user.target
